@import "../../styles/themes";
@import "../../styles/mixins";

.user-list {
  padding: 2rem;
  overflow: hidden;
  @include theme("background", "color-background");
  @include theme("color", "color-text");

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    @include theme("color", "color-text");
  }

  .user-list-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    flex-wrap: wrap;
    gap: 1rem;

    .sort-controls {
      display: flex;
      flex-direction: row;
      gap: 1rem;
      align-items: center;
    }

    label {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    select {
      padding: 0.5rem;
      border-radius: 4px;
      border: 1px solid;
      @include theme("background", "color-dropdown");
      @include theme("color", "color-dropdown-text");
      @include theme("border-color", "color-border");
    }

    button {
      padding: 0.5rem;
      border-radius: 4px;
      border: none;
      cursor: pointer;
      @include theme("background", "color-button");
      @include theme("color", "color-button-text");

      &:hover {
        @include theme("background", "color-button-hover");
      }
    }
  }

  .user-card-grid-container {
    height: calc(100% - 100px);
    overflow-y: auto;
    @include scrollbar;

    .user-card-grid {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
      gap: 1rem;
    }
  }


  .user-card {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 8px;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    width: 200px;
    @include theme("background", "color-box");
    @include theme("color", "color-text");
  
    &.has-stats:hover {
      z-index: 10;
      width: 400px;
      transform: translateY(-5px);
      @include theme("background", "color-box-secondary");
  
      .user-stats {
        opacity: 1;
        visibility: visible;
        max-width: 200px;
      }
    }

    &.current-user {
      border: 2px solid;
      @include theme("border-color", "color-highlight");
    }
  
    .user-info {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 164px;
      flex-shrink: 0;
    }
  
    .user-avatar-container {
      position: relative;
      width: 75px;
      height: 75px;
      margin-top: 1rem;
      margin-bottom: 1.5rem;
    
      .user-avatar {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    
      .rank-overlay-container {
        .rank-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 200%;
          height: 200%;
          transform: translate(-25%, -22%);
          object-fit: contain;
          pointer-events: none;
        }

        .rank-overlay-text {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, 70%);
          font-size: 1rem;
          font-weight: bold;
          font-family: Verdana, Geneva, Tahoma, sans-serif;
          color: white;
        }
      }
    }
  
    h3 {
      text-align: center;
      margin: 0;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      z-index: 9;
      padding: 0.25rem;
      border-radius: 4px;
      background-color: rgba(0, 0, 0, 0.5);
      color: white;
    }
  
    .user-stats {
      max-width: 0;
      opacity: 0;
      visibility: hidden;
      overflow: hidden;
      transition: all 0.2s ease-in-out;
      margin-left: 1rem;
  
      p {
        margin: 0.25rem 0;
        font-size: 0.8rem;
        white-space: nowrap;
      }
    }
  }
}

@include mobile {
  .user-list {
    padding: 1rem;
  }

  .user-list-controls {
    font-size: 0.9rem;
  }

  .user-card {
    padding: 0.5rem;

    h3 {
      font-size: 0.8rem;
    }

    .user-info {
      
      max-width: 40%;
    }
    &.has-stats {
      width: 100%;
    
      .user-stats {
        opacity: 1;
        visibility: visible;
        max-width: 200px;
      }
    }
    }
}

@include tabletplus {
  .user-list {
    background-color: blue;
  }

  .user-card-grid-container,
  .user-list-controls {
    padding-right: 200px;
  }

  .user-card {
    padding: 1rem;

    h3 {
      font-size: 1.2rem;
    }
  }
}