Flask==3.0.3
Flask-CORS==5.0.0
Flask-Limiter==3.8.0
Flask-Session==0.8.0
Flask-SocketIO==5.3.6
Flask-redis==0.4.0
python-dotenv==1.0.1
gunicorn==22.0.0
psycopg2-binary==2.9.9
supabase==2.5.1
requests==2.32.2
PyJWT==2.8.0
eventlet==0.36.1
redis==5.0.3