@import "../../styles/themes";
@import "../../styles/mixins";

.profile-page {
  margin: 0 auto;
  padding: 2rem;
  @include theme("background", "color-background");
  @include theme("color", "color-text");

  h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    border-bottom: 2px solid;
    padding-bottom: 0.5rem;
    @include theme("color", "color-text");
    @include theme("border-color", "color-text");
  }

  .profile-loading {
    text-align: center;
    font-style: italic;
    color: $light-grey-1;
  }

  .profile-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;

    .profile-info {
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      padding: 1.5rem;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      @include theme("background", "color-box");
  
      .user-avatar-container {
        position: relative;
        width: 120px;
        height: 120px;
        margin: 0.5rem 1.5rem 0.5rem 0.5rem;

        .user-avatar {
          width: 120px;
          height: 120px;
          border-radius: 50%;
          object-fit: cover;
          margin-right: 2rem;
          border: 3px solid;
          @include theme("border-color", "color-text");
        }

        .rank-overlay-container {
          .rank-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 200%;
            height: 200%;
            transform: translate(-25%, -22%);
            object-fit: contain;
            pointer-events: none;
          }
  
          .rank-overlay-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 140%);
            font-size: 1rem;
            font-weight: bold;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: white;
          }
        }
      }

      .profile-details {
        p {
          margin: 0.5rem 0;
          font-size: 1.1rem;

          strong {
            margin-right: 0.5rem;
            @include theme("color", "color-text");
          }
        }

        .charter-info {
          display: flex;
          align-items: center;
          gap: 0.5rem;
        
          .charter-select {
            padding: 0.25rem;
            border: 1px solid;
            border-radius: 4px;
            font-size: 1rem;
            cursor: pointer;
            @include theme("background", "color-dropdown");
            @include theme("border-color", "color-text");
            @include theme("color", "color-text");

            .charter-option {
              cursor: pointer;
              @include theme("background", "color-dropdown");
              @include theme("color", "color-dropdown-text");

              /* TODO: This isn't working for some reason */
              &:hover {
                @include theme("background", "color-dropdown-highlight");
              }
            }
        
            &:focus {
              outline: none;
              box-shadow: 0 0 0 2px rgba(32, 32, 32, 0.2);
            }
          }

          .charter-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            border-radius: 4px;
            transition: background-color 0.3s ease;
            text-decoration: none;
            @include theme("background", "color-button");
            @include theme("color", "color-button-text");
            
            &:hover {
              @include theme("background", "color-button-hover");
            }
            
            .arrow-icon {
              width: 16px;
              @include theme("color", "color-button-text");
            }
          }
        }
      }
    }
  }

  .profile-scores {
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    @include theme("background", "color-box");
  }
}

@media (max-width: 600px) {
  .profile-page {
    padding: 1rem;

    .profile-info {
      flex-direction: column;
      text-align: center;

      .profile-avatar {
        margin-right: 0;
        margin-bottom: 1rem;
      }
    }
  }
}