@import "../../styles/themes";
@import "../../styles/mixins";

.score-upload {
  @include theme("background", "color-box");
  @include theme("color", "color-text");
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 2rem;

  h2 {
    font-size: 1.5rem;
    @include theme("color", "color-text");
    margin-bottom: 1rem;
    border-bottom: 1px solid;
    @include theme("border-color", "color-text");
    padding-bottom: 0.5rem;
  }

  .file-input-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    input[type="file"] {
      flex-grow: 1;
      padding: 0.5rem;
      border: 1px solid;
      @include theme("border-color", "color-border");
      border-radius: 4px;
    }
  }

  button {
    @include theme("background", "color-button");
    @include theme("color", "color-button-text");
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      @include theme("background", "color-button-hover");
    }

    &:disabled {
      @include theme("background", "color-button-disabled");
      cursor: not-allowed;
    }
  }

  p {
    margin-top: 1rem;
    @include theme("color", "color-text-secondary");
    font-style: italic;
  }
  
  .filepath-section {
    margin-top: 1rem;
    display: flex;
    align-items: center;

    .copy-icon {
      width: 20px;
      height: 20px;
      margin-left: 0.25rem;
    }

    .filepath-text {
      font-family: monospace;
      font-size: 14px;
      color: #404040;
      background-color: #f0f0f0;
      border: 1px solid;
      @include theme("border-color", "color-border");
      border-radius: 4px;
      padding: 0.25rem;
      cursor: pointer;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      transition: background-color 0.3s;

      &:hover {
        background-color: #e0e0e0;
      }
    }
  }

  .os-selection {
    margin-top: 1rem;
  
    p {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
  
    button {
      background-color: #f0f0f0;
      border: 1px solid #ccc;
      border-radius: 4px;
      color: #202020;
      padding: 0.25rem 0.5rem;
      cursor: pointer;
      transition: background-color 0.3s;
  
      &:hover {
        background-color: #e0e0e0;
      }
  
      &.active {
        background-color: #202020;
        color: white;
      }
    }
  }
}

@media (max-width: 600px) {
  .score-upload {
    padding: 1rem;
  }
}