@import "../../styles/themes";
@import "../../styles/mixins";

.leaderboard {
  margin-top: 2rem;
  @include theme("background", "color-background");
  padding: 1rem;
  border-radius: 4px;

  h5 {
    font-size: 1.25rem;
    @include theme("color", "color-text");
    margin-bottom: 1rem;
  }

  .control-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    
    .table-controls {
      display: flex;
      align-items: center;
      
      label, select {
        margin-right: 0.5rem;
      }
    }
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    @include theme("background", "color-table-background-2");
    @include theme("color", "color-table-text");
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;

    th, td {
      padding: 0.75rem;
      text-align: left;
      border: none;
      
      .fc-crown {
        width: 20px;
        height: 20px;
        vertical-align: middle;
      }
    }

    th {
      @include theme("background", "color-table-header");
      @include theme("color", "color-table-header-text");
      font-weight: bold;
      cursor: pointer;
      user-select: none;
      white-space: nowrap;
      position: relative;
      padding-right: 20px;

      .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &:hover {
        @include theme("background", "color-table-header-hover");
      }
    }

    tr:nth-child(even) {
      @include theme("background", "color-table-background-1");
    }

    tr:hover {
      @include theme("background", "color-table-hover");
      cursor: pointer;
    }
  }

  .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    @include theme("color", "color-text");

    button {
      @include theme("background", "color-button");
      @include theme("color", "color-button-text");
      border: none;
      padding: 0.5rem 1rem;
      margin: 0 0.5rem;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        @include theme("background", "color-button-hover");
      }

      &:disabled {
        @include theme("background", "color-button-disabled");
        cursor: not-allowed;
      }
    }

    span {
      margin: 0 1rem;

      input[type="number"] {
        width: 50px;
        padding: 0.25rem;
        text-align: center;
      }
    }
  }
}