@use "../../../styles/themes" as *;
@use "../../../styles/mixins" as *;

.unknown-song-modal {
  .modal-body {
    padding: 2rem;

    .unknown-song-details {
      margin-bottom: 2rem;

      p {
        margin-bottom: 0.5rem;
      }
    }

    .unknown-song-actions {
      display: flex;
      flex-direction: column;
      gap: $space-md;

      .action-button {
        border: none;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        border-radius: $radius-sm;
        cursor: pointer;
        transition: background-color $transition-base;
        @include theme("background", "color-button");
        @include theme("color", "color-button-text");

        &:hover {
          @include theme("background", "color-button-hover");
        }

        .loading-spinner {
          filter: invert(1);
        }
      }
    }
  }
}