@use "../../../styles/themes" as *;
@use "../../../styles/mixins" as *;

.unknown-song-modal {
  .modal-body {
    padding: 2rem;

    .unknown-song-details {
      margin-bottom: 2rem;

      p {
        margin-bottom: 0.5rem;
      }
    }

    .unknown-song-actions {
      display: flex;
      flex-direction: column;
      gap: $space-md;

      .action-button {
        @include themed-button;
        padding: 0.5rem 1rem;
        font-size: 1rem;

        .loading-spinner {
          filter: invert(1);
        }
      }
    }
  }
}