@import '../../styles/themes';
@import '../../styles/mixins';

.charter-name {
  button {
    border: none;
    background-color: transparent;
    border-radius: 4px;
    padding: 2px 4px;
    cursor: pointer;
    transition: background-color 0.3s;
    transition: transform 0.3s;
    @include theme('color', 'color-text');

    &:hover {
      @include theme('background', 'color-charter-hover');
    }

    &.active {
      background-color: #a0a0a0;
      transform: scale(0.95);
    }

    &:disabled {
      background-color: #888;
      color: #404040;
      cursor: not-allowed;
    }
  }
}