@use "../../styles/themes" as *;
@use "../../styles/mixins" as *;

.charter-name {
  a {
    display: inline-block;
    text-decoration: none;
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
    transform-origin: center;
    transition: color $transition-base, transform $transition-base;

    @include theme("color", "color-text");

    &:hover,
    &:focus-visible {
      @include theme("color", "color-highlight");
      transform: scale(1.08);
    }
  }
}