@import "../../styles/themes";
@import "../../styles/mixins";
@import "../Extras/Tables.scss";

.related-songs {
  flex: 1;

  .related-songs-topbar {
    display: flex;

    .nav-tabs {
      flex: 1;
      display: flex;
      flex-wrap: nowrap;
      border: none;
      
      .nav-link {
        border: none;
        @include theme("color", "color-text");

        &.active {
          @include theme("color", "color-button-text");
          @include theme("background", "color-button");
        }

        &:hover {
          @include theme("color", "color-button-text");
          @include theme("background", "color-button-hover");
        }
      }
    }

    .pagination-container {
      display: none;
      align-items: center;

      .pagination {
        display: flex;
        align-items: center;
        margin: 0;

        .prev {
          margin-left: 0.4rem;
        }
        .prev, .next {
          background-color: transparent;
          border: none;
          border-radius: 4px;
          padding: 0.25rem 0.5rem;
          font-size: 1rem;
          cursor: pointer;
          transition: background-color 0.3s;
          @include theme("background", "color-button");
          @include theme("color", "color-button-text");

          &:hover {
            @include theme("background", "color-button-hover");
          }

          &:disabled {
            cursor: not-allowed;
            @include theme("background", "color-button-disabled");
          }
        }

        .pages {
          text-wrap: nowrap;
          margin: 0 0.5rem;

          input[type="number"] {
            width: 40px;
            padding: 0.25rem;
            margin-right: 0.25rem;
            text-align: center;
            border: 1px solid;
            border-radius: 3px;
            @include theme("border-color", "color-border");
          }
        }
      }
    }
  }
}