@import "../../styles/themes";
@import "../../styles/mixins";

.song-modal {
  &.loading {
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-content {
      flex: 1;
      height: 800px;
    }
  }

  .modal-dialog {
    position: relative;
    max-width: 80%;
  }

  .modal-content {
    flex: 1;
    border: none;
    @include theme("background", "color-background");
    @include theme("color", "color-text");
  }

  .modal-header {
    border: none;
    @include theme("background", "color-sidebar");
    @include theme("color", "color-sidebar-text");
    .back-button {
      position: absolute;
      height: 30px;
      width: 30px;
      right: 1rem;
      padding-bottom: 5px;
      background-color: transparent;
      border: none;
      border-radius: 4px;
      font-size: 1.5rem;
      line-height: 1;
      transition: color 0.3s;
      @include theme("background", "color-button");
      @include theme("color", "color-button-text");

      &:hover {
        @include theme("background", "color-button-hover");
      }
    }
  }

  .modal-body {
    .admin-controls {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1rem;
    
      button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-left: 0.5rem;
        @include theme("background", "color-button");
        @include theme("color", "color-button-text");
    
        &.verify-button {
          background-color: $green;
    
          &:hover {
            background-color: $grey-green;
          }
        }
    
        &.remove-button {
          background-color: $red;
    
          &:hover {
            background-color: $dark-red;
          }
        }
      }
    }

    .song-details {
      display: flex;
      justify-content: space-between;
      margin-bottom: 2rem;
      gap: 2rem;
    }
  }

  .modal-footer {
    border: none;

    .close-button {
      border: none;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
      @include theme("background", "color-button");
      @include theme("color", "color-button-text");
      
      &:hover {
        @include theme("background", "color-button-hover");
      }
    }
  }

  .nav-button {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    border: none;
    font-size: 2rem;
    width: 40px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1060;
    padding: 0;
    line-height: 1;
    @include theme("background", "color-button");
    @include theme("color", "color-button-text");

    &:hover {
      @include theme("background", "color-button-hover");
    }

    &:disabled {
      display: none;
    }

    &.prev-button {
      left: -40px;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
      font-size: 2.5rem;
      padding-left: 5px;
    }
    
    &.next-button {
      right: -40px;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
      font-size: 2.5rem;
      padding-right: 5px;
    }
  }
}

@include mobile {
  .modal-header {
    top: 0;
    position: sticky;
    z-index: 2;
  }
  
  .modal-dialog {
    max-width: 100%;
    margin: 0;
  }

  .modal-body {
    padding: 1rem;

    .song-details {
      flex-direction: column;
    }

    .related-songs {
      display: none;
    }
  }

  .close-button {
    display: none;
  }
  
}

@include tabletplus {
  .modal-body {
    padding: 1rem;
  }

  .song-info,
  .related-songs {
    min-height: 430px;
    max-height: 430px;
  }

  .related-songs {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    
    .table-container {
      flex: 1;
      overflow-y: auto;
    }
  }

  .leaderboard {
    flex: 1;
    min-height: 400px;
    max-height: calc(100vh - 750px);
    
    .loading-spinner {
      min-height: 400px;
      max-height: calc(100vh - 750px);
    }
  }

  .close-button {
    display: none;
  }

}