@import "../../styles/themes";
@import "../../styles/mixins";

.song-list {
  display: flex;
  flex-direction: column;
  @include theme("background", "color-background");

  .song-list-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    gap: 2rem;

    h1 {
      font-size: 2rem;
      margin-right: 1rem;
      @include theme("color", "color-text");
    }

    .song-list-header-left, .song-list-header-right {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .user-comparison {
      display: flex;
      align-items: center;

      .user-avatar-container {
        position: relative;
        width: 50px;
        height: 50px;

        .user-avatar {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }

        .rank-overlay-container {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          .rank-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 200%;
            height: 200%;
            transform: translate(-25%, -20%);
            object-fit: contain;
            pointer-events: none;
          }

          .rank-overlay-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 60%);
            font-size: 0.8rem;
            font-weight: bold;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: white;
          }
        }
      }

      .vs {
        display: flex;
        align-items: center;
        justify-content: center;

        .vs-icon {
          width: 60px;
          height: 60px;
          @include theme("filter", "filter-invert");
        }
      }
    }
  }

  .search-bar {
    display: flex;
    flex-direction: row;
  }

  table {
    td {
      padding: 0.6rem;
    }
  }
}

@include mobile {
  .song-list {
    padding: 0 1rem;
  }
  .search-bar {
    padding: 0 0 1rem 0;
  }
}

@include tabletplus {
  .song-list {
    width: 100%;
    padding: 1rem 2rem;
  }

  .search-bar {
    margin-bottom: 2rem;
  }
}