@import "../../styles/themes";
@import "../../styles/mixins";

.song-modal {
  &.loading {
    display: flex;
    justify-content: center;
    align-items: center;

    .modal-content {
      height: 800px;
    }
  }

  .modal-dialog {
    position: relative;
    max-width: 80%;
    margin: 1.75rem auto;
  }

  .modal-content {
    border: none;
    @include theme("background", "color-background");
    @include theme("color", "color-text");
  }

  .modal-header {
    border: none;
    @include theme("background", "color-sidebar");
    @include theme("color", "color-sidebar-text");
    .back-button {
      position: absolute;
      right: 1rem;
      background-color: transparent;
      border: none;
      font-size: 1.5rem;
      transition: color 0.3s;
      @include theme("background", "color-button");
      @include theme("color", "color-button-text");

      &:hover {
        @include theme("background", "color-button-hover");
      }
    }
  }

  .modal-body {
    padding: 2rem;

    .admin-controls {
      display: flex;
      justify-content: flex-end;
      margin-bottom: 1rem;
    
      button {
        padding: 0.5rem 1rem;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-left: 0.5rem;
        @include theme("background", "color-button");
        @include theme("color", "color-button-text");
    
        &.verify-button {
          background-color: $green;
    
          &:hover {
            background-color: $grey-green;
          }
        }
    
        &.remove-button {
          background-color: $red;
    
          &:hover {
            background-color: $dark-red;
          }
        }
      }
    }

    .song-details {
      display: flex;
      margin-bottom: 2rem;

      .artist-info, .related-songs {
        width: 48%;
      }

      .artist-info {
        p {
          display: flex;
          align-items: center;

          strong {
            margin-right: 0.25rem;
          }
        }

        .charter {
          display: flex;
          align-items: center;
          margin-bottom: 1rem;

          p {
            margin: 0;
          }
        }
      }

      h5 {
        margin-bottom: 1rem;
        @include theme("color", "color-text");
      }
    }

    .related-songs-topbar {
      display: flex;

      .nav-tabs {
        .nav-link {
          border: none;
          @include theme("color", "color-text");

          &.active {
            @include theme("color", "color-button-text");
            @include theme("background", "color-button");
          }

          &:hover {
            @include theme("color", "color-button-text");
            @include theme("background", "color-button-hover");
          }
        }
      }

      .pagination-container {
        display: flex;
        align-items: center;

        .pagination {
          display: flex;
          align-items: center;
          margin: 0;

          .prev {
            margin-left: 0.4rem;
          }
          .prev, .next {
            background-color: transparent;
            border: none;
            border-radius: 4px;
            padding: 0.25rem 0.5rem;
            font-size: 1rem;
            cursor: pointer;
            transition: background-color 0.3s;
            @include theme("background", "color-button");
            @include theme("color", "color-button-text");

            &:hover {
              @include theme("background", "color-button-hover");
            }

            &:disabled {
              cursor: not-allowed;
              @include theme("background", "color-button-disabled");
            }
          }

          .pages {
            margin: 0 0.5rem;

            input[type="number"] {
              width: 40px;
              padding: 0.25rem;
              margin-right: 0.25rem;
              text-align: center;
              border: 1px solid;
              border-radius: 3px;
              @include theme("border-color", "color-border");
            }
          }
        }
      }
    }

    .related-songs-table {
      width: 100%;
      border-collapse: collapse;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      @include theme("background", "color-table-background-2");
      @include theme("color", "color-table-text");

      th {
        font-weight: bold;
        cursor: default;
        @include theme("background", "color-table-header");
        @include theme("color", "color-table-header-text");
      }

      th, td {
        padding: 0.75rem;
        text-align: left;
        border: none;
      }

      tr {
        @include theme("background", "color-table-background-1");
      }

      tr:nth-child(even) {
        @include theme("background", "color-table-background-2");
      }

      tr:hover {
        cursor: pointer;
        @include theme("background", "color-table-hover");
      }
    }

    .leaderboard {
      margin-top: 2rem;
      @include theme("background", "color-box");
      @include theme("color", "color-text");

      h5 {
        margin-bottom: 1rem;
        @include theme("color", "color-text");
      }

      th, td {
        padding: 0.75rem;
        text-align: left;
        border: none;
      }

      th {
        font-weight: bold;
        cursor: default;
        @include theme("background", "color-table-header");
        @include theme("color", "color-table-header-text");

        &:hover {
          @include theme("background", "color-table-header-hover");
        }
      }

      tr {
        @include theme("background", "color-table-background-1");
      }

      tr:nth-child(even) {
        @include theme("background", "color-table-background-2");
      }

      tr:hover {
        cursor: pointer;
        @include theme("background", "color-table-hover");
      }
    }
  }

  .modal-footer {
    border: none;

    .close-button {
      border: none;
      padding: 0.5rem 1rem;
      font-size: 1rem;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s;
      @include theme("background", "color-button");
      @include theme("color", "color-button-text");
      
      &:hover {
        @include theme("background", "color-button-hover");
      }
    }
  }

  .nav-button {
    position: absolute;
    top: 50vh;
    transform: translateY(-50%);
    border: none;
    font-size: 2rem;
    width: 40px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: background-color 0.3s;
    z-index: 1060;
    padding: 0;
    line-height: 1;
    @include theme("background", "color-button");
    @include theme("color", "color-button-text");

    &:hover {
      @include theme("background", "color-button-hover");
    }

    &:disabled {
      display: none;
    }

    &.prev-button {
      left: -40px;
      border-top-left-radius: 40px;
      border-bottom-left-radius: 40px;
    }

    &.next-button {
      right: -40px;
      border-top-right-radius: 40px;
      border-bottom-right-radius: 40px;
    }
  }
}