@import "../../styles/themes";
@import "../../styles/mixins";

.song-list {
  padding: 2rem;
  @include theme("background", "color-background");

  .song-list-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    gap: 2rem;

    h1 {
      font-size: 2rem;
      margin-right: 1rem;
      @include theme("color", "color-text");
    }

    .song-list-header-left, .song-list-header-right {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .user-comparison {
      display: flex;
      align-items: center;

      .user-avatar-container {
        position: relative;
        width: 50px;
        height: 50px;

        .user-avatar {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }

        .rank-overlay-container {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          .rank-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 200%;
            height: 200%;
            transform: translate(-25%, -20%);
            object-fit: contain;
            pointer-events: none;
          }

          .rank-overlay-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 60%);
            font-size: 0.8rem;
            font-weight: bold;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: white;
          }
        }
      }

      .vs {
        display: flex;
        align-items: center;
        justify-content: center;

        .vs-icon {
          width: 60px;
          height: 60px;
          @include theme("filter", "filter-invert");
        }
      }
    }
  }

  .control-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1rem;
    @include theme("background", "color-table-background-2");
    @include theme("color", "color-table-text");

    th, td {
      padding: 0.75rem;
      text-align: left;
      border: none;
    }

    .score-difference-negative {
      @include theme("color", "color-text-error");
    }

    .score-difference-positive {
      @include theme("color", "color-text-success");
    }

    th {
      font-weight: bold;
      cursor: pointer;
      user-select: none;
      white-space: nowrap;
      position: relative;
      padding-right: 20px;
      @include theme("background", "color-table-header");
      @include theme("color", "color-table-header-text");

      .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &:hover {
        @include theme("background", "color-table-header-hover");
      }
    }
    
    tr {
      @include theme("background", "color-table-background-1");
    }

    tr:nth-child(even) {
      @include theme("background", "color-table-background-2");
    }

    tr:hover {
      cursor: pointer;
      @include theme("background", "color-table-hover");
    }
  }
}