@import "../../styles/themes";
@import "../../styles/mixins";

.song-list {
  display: flex;
  flex-direction: column;
  @include theme("background", "color-background");

  .song-list-header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 1rem;
    gap: 2rem;

    h1 {
      font-size: 2rem;
      margin-right: 1rem;
      @include theme("color", "color-text");
    }

    .song-list-header-left, .song-list-header-right {
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }

    .user-comparison {
      display: flex;
      align-items: center;

      .user-avatar-container {
        position: relative;
        width: 50px;
        height: 50px;

        .user-avatar {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          object-fit: cover;
        }

        .rank-overlay-container {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;

          .rank-overlay {
            position: absolute;
            top: 0;
            left: 0;
            width: 200%;
            height: 200%;
            transform: translate(-25%, -20%);
            object-fit: contain;
            pointer-events: none;
          }

          .rank-overlay-text {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, 60%);
            font-size: 0.8rem;
            font-weight: bold;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: white;
          }
        }
      }

      .vs {
        display: flex;
        align-items: center;
        justify-content: center;

        .vs-icon {
          width: 60px;
          height: 60px;
          @include theme("filter", "filter-invert");
        }
      }
    }
  }

  .search-bar {
    margin: 0 1rem;
    margin-bottom: 1rem;
    width: calc(100% - 2rem);
    display: flex;
    flex-direction: row;
  }

  .table-container {
    flex: 1;
    overflow: scroll;
  }
  
  table {
    border-collapse: collapse;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    @include theme("background", "color-table-background-2");
    @include theme("color", "color-table-text");

    thead {
      top: 0;
      position: sticky;
      z-index: 1;
    }

    .score-difference-negative {
      @include theme("color", "color-text-error");
    }

    .score-difference-positive {
      @include theme("color", "color-text-success");
    }

    th {
      font-weight: bold;
      cursor: pointer;
      user-select: none;
      white-space: nowrap;
      position: relative;
      padding-right: 20px;
      @include theme("background", "color-table-header");
      @include theme("color", "color-table-header-text");

      .header-content {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      &:hover {
        @include theme("background", "color-table-header-hover");
      }
    }
    
    tr {
      @include theme("background", "color-table-background-1");
    }

    tr:nth-child(even) {
      @include theme("background", "color-table-background-2");
    }

    tr:hover {
      cursor: pointer;
      @include theme("background", "color-table-hover");
    }
  }

  .page-controls {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .table-controls {
      position: absolute;
      left: 0;
      display: none;
    }
  }
}


@include mobile {
  .song-list-header h1 {
    display: none;
  }

  .search-bar {
    margin: 0;
    padding: 0;
    .multi-select-dropdown {
      display: none;
    }
  }

  table {
    th, td {
      padding: 0.5rem 0.3rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      max-width: 160px;
    }

    th {
      font-size: 0.82rem;
    }

    td {
      font-size: 0.8rem;
    }
  }
}

@include tabletplus {
  .table-container {
    margin: 1rem;
  }

  table {
    th, td {
      padding: 0.6rem;
      min-width: 200px;
      max-width: 250px;
    }
  }
}