@use "../../styles/themes" as *;
@use "../../styles/mixins" as *;

.credits {
  width: 100%;
  max-width: 800px;
  margin-bottom: 2rem;

  h2 {
    text-align: center;
    margin-bottom: 1rem;
    @include theme("color", "color-text");
  }

  .contributors-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1rem;

    .contributor {
      display: flex;
      align-items: center;
      padding: 1rem;
      min-width: 220px;
      border-radius: $radius-md;
      text-decoration: none;
      transition: transform 0.2s, box-shadow 0.2s;
      @include theme("background", "color-box");
      @include theme("color", "color-text");

      &:hover {
        transform: translateY(-5px);
        box-shadow: $shadow-md;
      }

      .avatar {
        border-radius: $radius-round;
        margin-right: 1rem;
      }

      .info {
        h3 {
          margin: 0;
          font-size: 1.5rem;
        }
      }
    }
  }
}

@include mobile {
  .credits {
    h2 {
      margin-top: 1rem;
    }
    .contributors-list {
      .contributor {
        min-height: 50px;
        max-height: 50px;
        // padding: 0;
      }
    }

    .avatar {
      width: 30px;
      height: 30px;
    }
  }
}

@include tabletplus {
  .credits {
    .contributors-list {
      .contributor {
        min-width: 200px;
      }
    }

    .avatar {
      width: 60px;
      height: 60px;
    }
  }
}