.table-container {
  flex: 1;
  overflow: auto;
  position: relative;
  --header-height: 40px; /* Default fallback value */
  @include theme("background", "color-box");
  @include scrollbar;

  // Scroll indicators
  &.scrollable-top::before,
  &.scrollable-bottom::after {
    content: "";
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 40px;
    height: 15px;
    pointer-events: none;
    z-index: 10;
    opacity: 1;
    transition: opacity 0.3s;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }

  &.scrollable-top::before {
    top: var(--header-height);
    position: sticky;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    margin-top: 0;
  }

  &.scrollable-bottom::after {
    bottom: 10px;
    position: sticky;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 0%, transparent 100%);
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    transform: rotate(180deg);
    margin-bottom: 5px;
  }
}

table {
  border-collapse: collapse;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  @include theme("background", "color-table-background-2");
  @include theme("color", "color-table-text");

  thead {
    top: 0;
    position: sticky;
    z-index: 1;
  }

  .score-difference-negative {
    @include theme("color", "color-text-error");
  }

  .score-difference-positive {
    @include theme("color", "color-text-success");
  }

  th {
    font-weight: bold;
    cursor: pointer;
    user-select: none;
    white-space: nowrap;
    position: relative;
    @include theme("background", "color-table-header");
    @include theme("color", "color-table-header-text");

    .sort-arrow {
      padding-left: 2px;
    }

    &:hover {
      @include theme("background", "color-table-header-hover");
    }
  }

  th, td {
    &.rank,
    &.percent,
    &.speed,
    &.is-fc,
    &.play-count,
    &.year,
    &.scores-count,
    &.song-length
    {
      text-align: center;
    }
  }
  
  .fc-crown {
    align-items: center;
    vertical-align: middle;
  }

  // Row colors

  tr {
    @include theme("background", "color-table-background-1");
  }

  tr:nth-child(even) {
    @include theme("background", "color-table-background-2");
  }

  tr.selected-row {
    @include theme("background", "color-table-selected-background");
    @include theme("color", "color-table-selected-text");
  }

  tr:hover {
    cursor: pointer;
    @include theme("background", "color-table-hover");
  }

  tr.selected-row {
    cursor: pointer;
    @include theme("background", "color-table-selected-hover");
  }
}

.page-controls {
  display: flex;
  flex-direction: row;
  justify-content: center;

  .table-controls {
    position: absolute;
    left: 0;
    display: none;
  }
}

@include mobile {
  .search-bar {
    margin: 0;
    padding: 0;

    .multi-select-dropdown {
      display: none;
    }
  }

  table {
    min-width: 100%;
    font-size: 0.75rem;

    th,
    td {
      padding: 0.3rem;
      text-overflow: ellipsis;

  
      &.rank        { max-width: 30px; }
      &.speed,
      &.play-count  { max-width: 70px; }
      &.percent     { max-width: 85px; }
      &.year        { max-width: 60px; }
      &.scores-count,
      &.length      { max-width: 70px; }
      &.username    { 
        min-width: 110px;
        max-width: 110px;
        word-break: break-all;}

      &.posted {
        white-space: nowrap;
      }
    }

    .fc-crown {
      width: 15px;
      height: 15px;
    }
  }
}

@include tabletplus {

  table {
    min-width: 100%;

    th {
      padding: 0.6rem;
    }

    th,
    td {
      &.rank        { max-width: 60px; }
      &.speed,
      &.play-count  { max-width: 60px; }
      &.percent     { max-width: 75px; }
      &.year        { max-width: 60px; }
      &.scores-count,
      &.length      { max-width: 70px; }

    }

   .fc-crown {
      width: 20px;
      min-height: 20px;
    }
  }
}