.user-grid {
  max-width: 500px;
  margin-top: 2rem;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }

  .user-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
  }

  .user-grid-avatar {
    img {
      border-radius: 50%;
      transition: transform 0.2s;
      
      &:hover {
        transform: scale(1.1);
      }
    }
  }
}