$sidebar-width: 44px;
$sidebar-width-expanded: 200px;

$screen-mobile-max: 768px;
$screen-tablet-max: 1200px;

@mixin scrollbar {
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    @include theme("background", "color-table-header");

    &:hover {
      @include theme("background", "color-table-background-1");
    }
  }
}

@mixin mobile {
  @media (max-width: #{$screen-mobile-max - 1}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$screen-mobile-max}) and (max-width: #{$screen-tablet-max - 1}) {
    @content;
  }
}

@mixin tabletplus {
  @media (min-width: #{$screen-mobile-max}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$screen-tablet-max}) {
    @content;
  }
}

@mixin theme($key, $color) {
  @each $theme-name, $theme-color in $themes {
      .theme-#{$theme-name} & {
          #{$key}: map-get(map-get($themes, $theme-name), $color)
      }
  }
}

@mixin master-theme($key, $color) {
  @each $theme-name, $theme-color in $themes {
      .theme-#{$theme-name} {
          #{$key}: map-get(map-get($themes, $theme-name), $color)
      }
  }
}