$black: #000000;
$white: #FFFFFF;
$red: #F04747;
$grey-red: #D03636;
$dark-red: #721c24;
$light-red: #F8D7DA;
$dark-green: #155724;
$light-green: #D4EDDA;
$discord-blue: #7289DA;
$discord-blue-dark: #5A6EB8;
$off-white: #F8F9FA;
$dark-grey-1: #202124;
$dark-grey-2: #353638;
$dark-grey-3: #454648;
$light-grey-1: #6A6A6A;
$light-grey-2: #858585;
$light-grey-3: #B8B9Ba;
$very-light-grey-1: #CACACA;
$very-light-grey-2: #E7E7E7;

$themes: (
  dark: (
    color-background: $dark-grey-1,
    color-box: $dark-grey-2,
    color-box-secondary: $dark-grey-3,
    color-button: $dark-grey-3,
    color-button-text: $white,
    color-button-hover: $light-grey-1,
    color-button-disabled: $light-grey-3,
    color-button-secondary: $light-grey-3,
    color-button-secondary-text: $black,
    color-button-secondary-hover: $light-grey-2,
    color-text: $white,
    color-text-secondary: $light-grey-3,
    color-sidebar: $dark-grey-2,
    color-sidebar-text: $white,
    color-sidebar-hover: $dark-grey-3,
    color-icon: $white,
    color-table-text: $white,
    color-table-header: $dark-grey-3,
    color-table-header-text: $white,
    color-table-header-hover: $light-grey-1,
    color-table-background-1: $light-grey-2,
    color-table-background-2: $light-grey-1,
    color-table-hover: $light-grey-3,
    color-table-div: $dark-grey-3,
    color-charter-hover: $light-grey-2,
    color-dropdown: $dark-grey-2,
    color-dropdown-highlight: $light-grey-1,
    color-dropdown-text: $white,
    color-border: $dark-grey-2,
    color-tooltip: $dark-grey-2,
    color-tooltip-text: $white,
  ),
  light: (
    color-background: $off-white,
    color-box: $white,
    color-box-secondary: $very-light-grey-2,
    color-button: $dark-grey-1,
    color-button-text: $white,
    color-button-hover: $light-grey-1,
    color-button-disabled: $light-grey-3,
    color-button-secondary: $off-white,
    color-button-secondary-text: $black,
    color-button-secondary-hover: $very-light-grey-2,
    color-text: $black,
    color-text-secondary: $dark-grey-3,
    color-sidebar: $dark-grey-2,
    color-sidebar-text: $white,
    color-sidebar-hover: $dark-grey-3,
    color-icon: $white,
    color-table-text: $black,
    color-table-header: $dark-grey-2,
    color-table-header-text: $white,
    color-table-header-hover: $light-grey-1,
    color-table-background-1: $white,
    color-table-background-2: $very-light-grey-2,
    color-table-hover: $light-grey-3,
    color-table-div: $dark-grey-3,
    color-charter-hover: $light-grey-2,
    color-dropdown: $off-white,
    color-dropdown-highlight: $very-light-grey-1,
    color-dropdown-text: $black,
    color-border: $very-light-grey-1,
    color-tooltip: $dark-grey-1,
    color-tooltip-text: $white,
  ),
);