@import "../styles/themes";
@import "../styles/mixins";

@import "../components/Homepage.scss";
@import "../components/Auth/Auth.scss";
@import "../components/Extras/Tables.scss";
@import "../components/Profile/ProfilePage.scss";
@import "../components/Sidebar/Sidebar.scss";
@import "../components/SongList/SongList.scss";
@import "../components/SongList/SongModal.scss";

.app-container {
  display: flex;
  position: fixed;

  width: 100%;
  max-height: 100%;
}

.sidebar {
  z-index: 2;
}

.main-content {
  & > * {
    height: 100%;
  }
  overflow-y: scroll;
  z-index: 1;
}

@include mobile {
  .app-container {
    flex-direction: column;
  }

  .main-content {
    height: calc(100vh - $sidebar-width);
    margin-top: $sidebar-width;
    width: 100%;
  }

  .sidebar {
    width: 100%;
    height: $sidebar-width;
    overflow: hidden;
  }
}

@include tabletplus {
  .app-container {
    height: 100vh;
    flex-direction: row;
  }

  .main-content {
    width: calc(100% - $sidebar-width);
    margin-left: $sidebar-width;
    transition: width 0.3s ease, margin-left 0.3s ease;

    .sidebar.open+& {
      width: calc(100% - $sidebar-width-expanded);
      margin-left: $sidebar-width-expanded;
    }
  }
}

@include master-theme("background", "color-background");
