@use "../styles/themes" as *;
@use "../styles/mixins" as *;

.homepage {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  @include theme("background", "color-background");
  @include theme("color", "color-text");

  .banner-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    padding: 0 1rem;
    box-sizing: border-box;

    .banner-image {
      object-fit: contain;
    }
  }

  .subtitle {
    margin-bottom: 1.5rem;
  }

  .action-buttons {
    display: flex;
    justify-content: center;
    gap: $space-md;

    .icon-button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: $radius-round;
      transition: background-color $transition-fast, transform $transition-fast;
      border: none;
      @include theme("background", "color-button");
      @include theme("color", "color-icon");

      &:hover {
        transform: scale(1.1);
        @include theme("background", "color-button-hover");
      }

      .icon-svg {
        color: $white;
      }
    }

    .selected {
      @include theme("background", "color-button-hover");
    }
  }

  .auth-container {
    flex: 1;
  }

  .credits {
    flex: 1;
  }

  .status-container {
    display: flex;
    justify-content: center;
    gap: $space-xl;
    margin-top: 1rem;
    border-radius: $radius-md;
    box-shadow: $shadow-sm;
    @include theme("background", "color-box");

    .status {
      display: flex;
      align-items: center;
      gap: $space-md;
      @include theme("color", "color-text-secondary");

      .status-label {
        flex: 1;
        font-weight: bold;
      }

      .status-value,
      .loading-spinner {
        flex: 1;
      }

      .status-value {
        text-align: center;
        border-radius: $radius-sm;
        font-weight: 500;
        @include theme("background", "color-box");

        &.success {
          @include theme("color", "color-text-success");
        }

        &.error {
          @include theme("color", "color-text-error");
        }
      }

      .loading-spinner {
        margin-left: 0.5rem;
      }
    }
  }
}

@include mobile {
  .homepage {
    .banner-container {
      flex-direction: row;
      gap: $space-md;

      .banner-image {
        max-height: 100px;
      }
    }

    .subtitle {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    .action-buttons {
      min-height: 3rem;

      .icon-button {
        width: 40px;
        height: 40px;

        .icon-svg {
          width: 20px;
          height: 20px;
        }
      }
    }

    .auth-container,
    .credits {
      flex: 1;
      min-height: 15rem;
    }


    .status-container {
      flex-direction: row;
      min-height: 40px;
      min-width: 310px;
      padding: 0.5rem 0rem;
      margin-top: 1rem;
      gap: $space-md;

      .status {
        font-size: 0.7rem;

        .status-value {
          text-align: center;
          min-width: 68px;
        }

        .status-value,
        .loading-spinner {
          max-height: 30px;
        }
      }
    }
  }
}

@include tabletplus {
  .homepage {
    .banner-container {
      gap: 4rem;

      .banner-image {
        max-width: 45%;
        max-height: 200px;
      }
    }

    .subtitle {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }

    .action-buttons {
      min-height: 5rem;

      .icon-button {
        width: 60px;
        height: 60px;

        .icon-svg {
          width: 30px;
          height: 30px;
        }
      }
    }

    .status-container {
      flex-direction: row;
      padding: 1rem 2rem;
      gap: $space-xl;
      max-height: 60px;

      .status {
        min-width: 200px;
        font-size: 1rem;

        .status-label {
          margin-right: 0.5rem;
        }

        .status-value,
        .loading-spinner {
          max-height: 40px;
        }
      }
    }
  }
}