@import "../styles/themes";
@import "../styles/mixins";

.homepage {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  padding: 2rem;
  @include theme("background", "color-background");
  @include theme("color", "color-text");

  .banner-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-bottom: 2rem;
    padding: 0 1rem;
    box-sizing: border-box;

    .banner-image {
      object-fit: contain;
    }
  }

  .subtitle {
    margin-bottom: 1.5rem;
  }

  .action-buttons {
    display: flex;
    justify-content: center;
    gap: 1rem;

    .icon-button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      transition: background-color 0.2s, transform 0.2s;
      border: none;
      @include theme("background", "color-button");
      @include theme("color", "color-icon");

      &:hover {
        transform: scale(1.1);
        @include theme("background", "color-button-hover");
      }

      img {
        object-fit: contain;
      }
    }

    .selected {
      @include theme("background", "color-button-hover");
    }
  }

  .auth-container {
    flex: 1;
  }

  .credits {
    flex: 1;
  }

  .status-container {
    display: flex;
    justify-content: center;
    gap: 2rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    @include theme("background", "color-box");

    .status {
      display: flex;
      align-items: center;
      @include theme("color", "color-text-secondary");
      gap: 1rem;

      .status-label {
        flex: 1;
        font-weight: bold;
      }

      .status-value,
      .loading-spinner {
        flex: 1;
      }

      .status-value {
        border-radius: 4px;
        font-weight: 500;

        &.success {
          background-color: $very-light-green;
          color: $dark-green;
        }

        &.error {
          background-color: $very-light-red;
          color: $dark-red;
        }
      }

      .loading-spinner {
        margin-left: 0.5rem;
      }
    }
  }
}

@include mobile {
  .homepage {
    .banner-container {
      flex-direction: row;
      gap: 1rem;

      .banner-image {
        max-height: 100px;
      }
    }

    .subtitle {
      font-size: 1rem;
      margin-bottom: 1rem;
    }

    .action-buttons {
      min-height: 3rem;

      .icon-button {
        width: 40px;
        height: 40px;

        img {
          width: 20px;
          height: 20px;
        }
      }
    }

    .auth-container, .credits {
      min-height: 20rem;
    }


    .status-container {
      flex-direction: row;
      min-height: 40px;
      min-width: 310px;
      padding: 0.5rem 0rem;
      margin-top: 1rem;
      gap: 1rem;

      .status {
        font-size: 0.7rem;

        .status-value {
          text-align: center;
          min-width: 68px;
        }

        .status-value,
        .loading-spinner {
          max-height: 30px;
        }
      }
    }
  }
}

@include tabletplus {
  .homepage {
    .banner-container {
      gap: 4rem;

      .banner-image {
        max-width: 45%;
        max-height: 200px;
      }
    }

    .subtitle {
      font-size: 1.2rem;
      margin-bottom: 1.5rem;
    }

    .action-buttons {
      min-height: 5rem;

      .icon-button {
        width: 60px;
        height: 60px;

        img {
          width: 30px;
          height: 30px;
        }
      }
    }

    .status-container {
      flex-direction: row;
      padding: 1rem 2rem;
      gap: 2rem;
      max-height: 60px;

      .status {
        min-width: 200px;
        font-size: 1rem;

        .status-label {
          margin-right: 0.5rem;
        }

        .status-value,
        .loading-spinner {
          max-height: 40px;
        }
      }
    }
  }
}