@import "../../styles/themes";
@import "../../styles/mixins";

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transition: width 0.3s ease;
  width: $sidebar-width;
  overflow-x: hidden;
  @include theme("background", "color-sidebar");

  &.open {
    width: $sidebar-width-expanded;
  }

  .toggle-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    @include theme("color", "color-icon");
  }

  .nav-menu {
    padding-top: 50px;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 10px;
        cursor: pointer;
        @include theme("color", "color-sidebar-text");

        li {
          display: flex;

          .icon {
            flex: 0 0 24px;
            height: 24px;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 24px;
              height: 24px;
              object-fit: contain;
            }
          }

          .nav-text {
            white-space: nowrap;
            opacity: 0;
            transition: opacity 0.3s ease;
            flex: 1;
          }
        }

        &:hover {
          @include theme("background", "color-sidebar-hover");
        }
      }
    }
  }

  .version-container {
    position: absolute;
    bottom: 70px;
    left: calc(50% - 15px);

    .version {
      font-size: 16px;
      color: $light-grey-2;
      cursor: help;
    }
  }

  &.open {
    .nav-menu {
      ul {
        a {
          li {
            .nav-text {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

// Mobile styles (sidebar on top and icons in a row)
@include mobile {
  .main-content {
    width: 100%;
    padding-top: $sidebar-width;
    
    // max-height: calc(100% - 500px) !important;
  }

  .sidebar {
    width: 100%;
    height: $sidebar-width;
    display: flex;
    align-items: center;

    .toggle-btn {
      display: none;;
    }

    .nav-menu {
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0;

      ul {
        width: 100%;
        display: flex;
        justify-content: space-around;

        a {
          li {
            flex-direction: column;
            align-items: center;

            .icon {
              margin-bottom: 5px;
            }
          }
        }
      }
    }

    .version-container {
      display: none;
    }
  }
}

@include tabletplus
{
  .main-content {
    width: calc(100% - $sidebar-width);
    margin-left: $sidebar-width;
    transition: width 0.3s ease, margin-left 0.3s ease;
  
    .sidebar.open + & {
      width: calc(100% - $sidebar-width-expanded);
      margin-left: $sidebar-width-expanded;
    }
  }
}