@import "../../styles/themes";
@import "../../styles/mixins";

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  transition: width 0.3s ease;
  width: 44px;
  overflow-x: hidden;
  @include theme("background", "color-sidebar");

  &.open {
    width: 200px;
  }

  .toggle-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    @include theme("color", "color-icon");
  }

  .nav-menu {
    padding-top: 50px;

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;

      a {
        display: flex;
        align-items: center;
        text-decoration: none;
        padding: 10px;
        cursor: pointer;
        @include theme("color", "color-sidebar-text");

        li {
          display: flex;

          .icon {
            flex: 0 0 24px;
            height: 24px;
            margin-right: 10px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
              width: 24px;
              height: 24px;
              object-fit: contain;
            }
          }

          .nav-text {
            white-space: nowrap;
            opacity: 0;
            transition: opacity 0.3s ease;
            flex: 1;
          }
        }

        &:hover {
          @include theme("background", "color-sidebar-hover");
        }
      }
    }
  }

  .tooltip-container {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    .version {
      font-size: 16px;
      color: $light-grey-2;
      cursor: help;
    }
  }

  &.open {
    .nav-menu {
      ul {
        a {
          li {
            .nav-text {
              opacity: 1;
            }
          }
        }
      }
    }
  }

  #themeDialog {
    border: 1px solid;
    width: 95%;
    padding: 0;
    @include theme("background", "color-dropdown");
    @include theme("color", "color-dropdown-text");
    @include theme("border-color", "color-text");

    .themeOption {
      padding: 0.1rem;
      cursor: pointer;
    }

    .themeOption:hover {
      @include theme("background", "color-dropdown-highlight");
    }
  }
}

.main-content {
  width: calc(100% - 44px);
  margin-left: 44px;
  transition: width 0.3s ease, margin-left 0.3s ease;

  .sidebar.open + & {
    width: calc(100% - 200px);
    margin-left: 200px;
  }
}